---
import config from 'virtual:starlight/user-config';
import Search from 'virtual:starlight/components/Search';
import MobileMenuFooter from 'virtual:starlight/components/MobileMenuFooter';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';

const { sidebar } = Astro.locals.starlightRoute;

const shouldRenderSearch =
  config.pagefind || config.components.Search !== '@astrojs/starlight/components/Search.astro';
---

{shouldRenderSearch && (
  <div class="sl-sidebar-search">
    <Search />
  </div>
)}

<SidebarPersister>
  <SidebarSublist sublist={sidebar} />
</SidebarPersister>

<div class="md:sl-hidden">
  <MobileMenuFooter />
</div>

<style>
  .sl-sidebar-search {
    padding: 0 0.5rem;
    margin-bottom: 1rem;
  }
</style>
